// GLOBAL CSS
.modal_custom {
  display: flex;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

//import all scss
@import "./calendar.scss";
